{% include "header.html" %}
{% if params %}
  {% set urlq = url + '?' + params + '&' %}
  {% else %}
  {% set urlq = url + '?' %}
{% endif %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb bg-light">
    {% for crumb in crumbs %}
      {% if not loop.last %}
    <li class="breadcrumb-item"><a href="{{ crumb.url }}/">{{ crumb.part }}</a></li>
      {% else %}<li class="breadcrumb-item active" aria-current="page">{{ crumb.part }}</li>
      {% endif %}
    {% endfor %}

    <li class="ml-auto json-link"><a target="_blank" href="{{ urlq }}f=json">JSON</a></li>
  </ol>
</nav>

<h1>{{ response.title }}</h1>
<p>
  {{ response.description }}
</p>

<pre>
  __/\\\\\\\\\\\\\\\________/\\\\\\\\\\\\\\\________/\\\\\\____________________________________________/\\\\\\\\\\\\\____________________/\\\\\\\\\\\____/\\\\\\\\\\\\\\\_____/\\\\\\\\\___________/\\\\\\\\\_
  _\///////\\\/////________\///////\\\/////________\////\\\___________________________________________\/\\\/////////\\\________________/\\\/////////\\\_\///////\\\/////____/\\\\\\\\\\\\\______/\\\////////__
   _______\/\\\________/\\\_______\/\\\________/\\\____\/\\\___________________________________________\/\\\_______\/\\\___/\\\\\\\\___\//\\\______\///________\/\\\________/\\\/////////\\\___/\\\/___________
    _______\/\\\_______\///________\/\\\_______\///_____\/\\\________/\\\\\\\\___/\\/\\\\\\\____________\/\\\\\\\\\\\\\/___/\\\////\\\___\////\\\_______________\/\\\_______\/\\\_______\/\\\__/\\\_____________
     _______\/\\\________/\\\_______\/\\\________/\\\____\/\\\______/\\\/////\\\_\/\\\/////\\\___________\/\\\/////////____\//\\\\\\\\\______\////\\\____________\/\\\_______\/\\\\\\\\\\\\\\\_\/\\\_____________
      _______\/\\\_______\/\\\_______\/\\\_______\/\\\____\/\\\_____/\\\\\\\\\\\__\/\\\___\///____________\/\\\______________\///////\\\_________\////\\\_________\/\\\_______\/\\\/////////\\\_\//\\\____________
       _______\/\\\_______\/\\\_______\/\\\_______\/\\\____\/\\\____\//\\///////___\/\\\___________________\/\\\______________/\\_____\\\__/\\\______\//\\\________\/\\\_______\/\\\_______\/\\\__\///\\\__________
        _______\/\\\_______\/\\\_______\/\\\_______\/\\\__/\\\\\\\\\__\//\\\\\\\\\\_\/\\\___________________\/\\\_____________\//\\\\\\\\__\///\\\\\\\\\\\/_________\/\\\_______\/\\\_______\/\\\____\////\\\\\\\\\_
         _______\///________\///________\///________\///__\/////////____\//////////__\///____________________\///_______________\////////_____\///////////___________\///________\///________\///________\/////////__
  </pre>

<h2>Links</h2>
<ul>
{% for link in response.links %}
  <li> <a href="{{ link.href }}">{{ link.title or link.rel }}</a></li>
{% endfor %}
</ul>

{% include "footer.html" %}
