name: Publish docs via GitHub Pages

# Only run on new tags
on:
  push:
    tags:
      - '*'
  workflow_dispatch:


jobs:
  build:
    name: Deploy docs
    runs-on: ubuntu-latest
    steps:
      - name: Checkout main
        uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.*" 
          enable-cache: true

      - name: Install dependencies
        run: |
          uv sync --group docs

      - name: Set module version
        id: module
        run: |
          echo version=$(uv run python -c'import titiler.pgstac; print(titiler.pgstac.__version__)') >> $GITHUB_OUTPUT

      - name: Configure Git user
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com

      - name: Fetch gh-pages repository
        run: |
          git fetch origin gh-pages --depth=1

      - name: Deploy documentation and update alias for latest
        run: |
            uv run mike deploy ${{ steps.module.outputs.version}} latest --push --update-aliases --config-file docs/mkdocs.yml
     
      - name: Deploy docs
        run: uv run --group docs --extra psycopg mike deploy ${{ steps.module.outputs.version}} latest --push --update-aliases --config-file docs/mkdocs.yml
